<nav id="myNav" class="navbar navbar-expand-lg navbar-light"  style="background-color: #e3f2fd;" role="navigation">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar" >
        <ul class="nav navbar-nav ml-5">
          <li class="nav-item mx-2" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" routerLink="">Home</a></li>
          <li class="nav-item mx-2" routerLinkActive="active"><a class="nav-link" routerLink="cars" data-toggle="collapse" data-target=".navbar-collapse.show">Cars</a></li>
        </ul>
      </div>
  </nav>
  